body {
  position: relative;
  background: #ffffff;
  color: #757575;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  padding-top: 65px;
}

::-moz-selection {
  color: white;
  background-color: darkorange;
}

::selection {
  color: white;
  background-color: darkorange;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.img-block {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-box {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  padding: 15px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  z-index: 900;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
}

.icon-cat {
  margin-right: 20px;
  max-width: 50px;
  max-height: 50px;
}

.icon-search {
  padding: 4px;
  width: 23px;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: dimgray;
  cursor: pointer;
}

.input-field {
  display: block;
  outline: none;
  border: 2px solid dimgray;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 100%;
  width: 100%;
}

.input-field:focus,
.input-field:hover {
  border: 2px solid #2196f3;
}

.icon-microphone {
  margin-left: 10px;
  cursor: pointer;
}

.icon-microphone:hover {
  fill: #797979;
}

.icon-paw {
  width: 50px;
  padding: 3px;
  margin-left: 10px;
  background-color: darkorange;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .icon-paw {
    margin-left: 5px;
  }
}

.icon-paw:hover {
  fill: #797979;
}

.dropdown .hover-menu {
  display: none;
}

.dropdown:hover .hover-menu {
  display: block;
}

.icon-size {
  max-width: 25px;
  max-height: 25px;
}

.icon-logout-menu a {
  color: red !important;
  fill: red;
}

.hover-menu {
  position: absolute;
  right: 30px;
  top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -10px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
}

.hover-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.hover-menu svg {
  margin-right: 10px;
}

.hover-menu-item {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.hover-menu-item:hover {
  background-color: #797979;
}

.icon-bell {
  cursor: pointer;
}

.icon-bell:hover {
  fill: #797979;
}

.side-bar {
  position: fixed;
  top: 80px;
  left: 0;
  max-width: 250px;
  height: 100vh;
  padding-top: 15px;
  background-color: darkorange;
}

@media screen and (max-width: 1200px) {
  .side-bar {
    min-width: 100px;
  }
}

.aside-list {
  height: 70vh;
  overflow-y: auto;
}

.aside-list::-webkit-scrollbar {
  width: 0;
}

.aside-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  color: #212121;
  cursor: pointer;
}

.aside-list-item:hover {
  background-color: gainsboro;
}

.icon-face {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}

.name-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1200px) {
  .name-cat {
    display: none;
  }
}

.name-cat > p:hover {
  color: #2196f3;
}

.pulse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  background: red;
  border-radius: 50%;
  -webkit-animation: radial-pulse 1s infinite;
          animation: radial-pulse 1s infinite;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
            box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 7px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 7px rgba(255, 0, 0, 0);
  }
}

@keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
            box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 7px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 7px rgba(255, 0, 0, 0);
  }
}

.social {
  width: 100%;
  height: 100px;
  padding: 15px;
  border-top: 1px solid white;
}

@media screen and (max-width: 1200px) {
  .social {
    display: none;
  }
}

.social-content {
  padding: 15px 30px;
  background-color: white;
  font-size: 15px;
  text-align: center;
}

.social-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
}

.icon-social:hover {
  fill: #2196f3;
}

.main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 250px;
}

@media screen and (max-width: 1200px) {
  .main-box {
    padding-left: 100px;
  }
}

.movie-box {
  padding: 15px;
  width: 100%;
}

.footer {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
}

.footer svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

a:link,
a:hover,
a:active,
a:visited {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: gainsboro;
  text-decoration: none;
}

a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}

.contain {
  width: 100%;
}

.row {
  overflow: scroll;
  width: 100%;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 15px;
}

.row::-webkit-scrollbar {
  width: 0;
}

.row__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}

.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
}

.tile__details:after, .tile__details:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: grey;
}

.tile__details:after {
  content: url("https://api.iconify.design/fa-paw.svg?color=black&height=30&inline=true");
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}

.tile__details:before {
  background-color: gainsboro;
  opacity: 0.5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  z-index: 2;
}

.tile:hover .tile__details {
  opacity: 1;
}

.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}

.row__inner:hover .tile {
  opacity: 0.3;
}

.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}

.slider {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  border-radius: 5px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin-top: 15px;
}

.filter-list::-webkit-scrollbar {
  width: 0;
}

.filter-item {
  margin-left: 15px;
}

.filter-item:first-child .button {
  background-color: darkorange;
  color: white;
}

.button {
  display: inline-block;
  color: black;
  background: gainsboro;
  border-radius: 15px;
  border: 1px solid transparent;
  height: 30px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: darkgray;
  color: white;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  margin: -15px;
}

.card-item {
  max-width: 300px;
  margin: 15px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-img {
  max-width: 300px;
  height: 205px;
}

.card-media {
  position: relative;
}

.card-media:hover .tile__details {
  opacity: 1;
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #fff;
}

.card-icon-face {
  width: 20px;
}

.disc-card {
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

.disc-card:hover {
  color: #2196f3;
}

.name-user {
  font-size: 12px;
  cursor: pointer;
}

.name-user:hover {
  color: #2196f3;
}

.dots {
  width: 20px;
  height: 20px;
}

.live-sign {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  width: 40px;
  padding: 2px;
}

.qnt-sign {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 2px;
  background-color: black;
}

.time-sign {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 2px;
  color: white;
  background-color: rgba(105, 105, 105, 0.5);
}
/*# sourceMappingURL=main.css.map */