.side-bar {
  position: fixed;
  top: 80px;
  left: 0;
  max-width: 250px;
  height: 100vh;
  padding-top: 15px;
  background-color: rgb(255, 140, 0);
  @media screen and (max-width: $desktop) {
    min-width: 100px;
  }
}

.aside-list {
  height: 70vh;
  overflow-y: auto;
}

.aside-list::-webkit-scrollbar {
  width: 0;
}

.aside-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: $title-text-color;
  cursor: pointer;
}

.aside-list-item:hover {
  background-color: rgb(220, 220, 220);
}

.icon-face {
  width: 50px;
  height: 50px;
  padding: 5px;
  //   margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.name-cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  text-overflow: ellipsis;
  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.name-cat > p:hover {
  color: $accent-color;
}

.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: 5px;
  margin-right: 5px;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  animation: radial-pulse 1s infinite;
}

.wrapper {
  display: flex;
  align-items: center;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 7px rgba(255, 0, 0, 0);
  }
}

.social {
  width: 100%;
  height: 100px;
  padding: 15px;
  border-top: 1px solid rgb(255, 255, 255);
  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.social-content {
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
}

.social-content div {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.icon-social:hover {
  fill: $accent-color;
}
