.filter-list {
  display: flex;
  overflow-x: auto;
  margin-top: 15px;
}

.filter-list::-webkit-scrollbar {
  width: 0;
}

.filter-item {
  margin-left: 15px;
}

.filter-item:first-child .button {
  background-color: rgb(255, 140, 0);
  color: rgb(255, 255, 255);
}

.button {
  display: inline-block;

  color: rgb(0, 0, 0);
  background: rgb(220, 220, 220);
  border-radius: 15px;
  border: 1px solid transparent;
  height: 30px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);

  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(169, 169, 169);
  color: rgb(255, 255, 255);
}
