.header-box {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  z-index: 900;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-search {
  display: flex;
  flex-grow: 0.5;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.search-label {
  display: flex;
  align-items: center;
  height: 25px;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
}

.icon-cat {
  margin-right: 20px;
  max-width: 50px;
  max-height: 50px;
}

.icon-search {
  padding: 4px;
  width: 23px;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgb(105, 105, 105);
  cursor: pointer;
}

.input-field {
  display: block;
  outline: none;
  border: 2px solid rgb(105, 105, 105);
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 100%;
  width: 100%;
}

.input-field:focus,
.input-field:hover {
  border: 2px solid $accent-color;
}

.icon-microphone {
  margin-left: 10px;
  cursor: pointer;
}

.icon-microphone:hover {
  fill: rgb(121, 121, 121);
}

.icon-paw {
  width: 50px;
  padding: 3px;
  margin-left: 10px;
  background-color: rgb(255, 140, 0);
  border-radius: 50%;
  cursor: pointer;

  @media screen and (max-width: $tablet) {
    margin-left: 5px;
  }
}

.icon-paw:hover {
  fill: rgb(121, 121, 121);
}
.dropdown .hover-menu {
  display: none;
}

.dropdown:hover .hover-menu {
  display: block;
}

.icon-size {
  max-width: 25px;
  max-height: 25px;
}

.icon-logout-menu a {
  color: rgb(255, 0, 0) !important;
  fill: rgb(255, 0, 0);
}

.hover-menu {
  position: absolute;
  right: 30px;
  top: 65px;
  display: flex;
  flex-direction: column;
  margin: -10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.hover-menu a {
  display: flex;
  align-items: center;
  padding: 10px;
}

.hover-menu svg {
  margin-right: 10px;
}

.hover-menu-item {
  border-bottom: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.hover-menu-item:hover {
  background-color: rgb(121, 121, 121);
}

.icon-bell {
  cursor: pointer;
}

.icon-bell:hover {
  fill: rgb(121, 121, 121);
}
