.main-box {
  display: flex;
  justify-content: center;

  padding-left: 250px;
  @media screen and (max-width: $desktop) {
    padding-left: 100px;
  }
}

.movie-box {
  padding: 15px;
  width: 100%;
}

.footer {
  position: absolute;
  top: 100%;
  display: flex;
  align-items: center;
  color: $title-text-color;
}

.footer svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
