a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  color: rgb(220, 220, 220);
  text-decoration: none;
}

a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}

.contain {
  width: 100%;
}

.row {
  overflow: scroll;
  width: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 15px;
}

.row::-webkit-scrollbar {
  width: 0;
}

.row__inner {
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  margin: ($tileHeight / 2) 0;
  padding-bottom: 10px; // Account for OS X scroll bar
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}

.tile__img {
  width: $tileWidth;
  height: $tileHeight;
  object-fit: cover;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: $duration opacity;

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: grey;
  }

  &:after {
    content: url("https://api.iconify.design/fa-paw.svg?color=black&height=30&inline=true");
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
  }

  &:before {
    background-color: rgb(220, 220, 220);
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    z-index: 2;
  }

  .tile:hover & {
    opacity: 1;
  }
}

.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.row__inner:hover {
  transform: translate3d($moveLeft, 0, 0);
}

.row__inner:hover .tile {
  opacity: 0.3;

  &:hover {
    transform: scale($growFactor);
    opacity: 1;
  }
}

.tile:hover ~ .tile {
  transform: translate3d($moveRight, 0, 0);
}

.slider {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  border-radius: 5px;
}
