.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  margin: -15px;
}

.card-item {
  max-width: 300px;
  margin: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-img {
  max-width: 300px;
  height: 205px;
}

.card-media {
  position: relative;
}

.card-media:hover .tile__details {
  opacity: 1;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #fff;
}

.card-icon-face {
  width: 20px;
}

.disc-card {
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

.disc-card:hover {
  color: $accent-color;
}

.name-user {
  font-size: 12px;
  cursor: pointer;
}

.name-user:hover {
  color: $accent-color;
}

.dots {
  width: 20px;
  height: 20px;
}

.live-sign {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  width: 40px;
  //   height: 20px;
  //   text-align: center;
  padding: 2px;
}

.qnt-sign {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 2px;
  background-color: rgb(0, 0, 0);
}

.time-sign {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 2px;
  color: rgb(255, 255, 255);
  background-color: rgba(105, 105, 105, 0.5);
}
