body {
  position: relative;
  background: $primery-bg-color;
  color: $primery-text-color;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  padding-top: 65px;
}

::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 140, 0);
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: $title-text-color;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
.img-block {
  display: block;
  max-width: 100%;
  height: auto;
}
