$primery-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primery-bg-color: #ffffff;
$add-bg-color: #f5f4fa;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
$duration: 450ms;
$tileWidth: 250px;
$tileWidthTablet: 150px;
$tileWidthMobile: 70px;
$tileHeight: ($tileWidth / (16/9));
$iconSize: 50px;
$growFactor: 1.5; // 1.5 times the original size

$moveLeft: -($tileWidth * ($growFactor - 1) / 2);
$moveRight: $tileWidth * ($growFactor - 1);
